/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url("https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet");

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
	background-color: #FFF;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   .header {
     padding: 40px;
   }

   .menu {
   padding: 20px 15px
   }

   .logo {
     position: relative;
   }

   body {
     font-family: "Roboto";
     -webkit-font-smoothing: antialiased;
     font-size: 18px;
     font-weight: 400;
     letter-spacing: 0.166667px;
     line-height: 1.7em;
     background-image: url('img/dots.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
   }

   p {
     color: #000000;
     font-size: 18px;
   }

   h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
     font-family: "Roboto", sans-serif;
     color: #000000;
     font-weight: 600;
 }

     .footer {
       padding: 60px 0px;
     }


     #mydiv {
       position: absolute;
       width: 300px;
       height: 200px;
       left: 400px;
       top: 400px;
       z-index: 9;
       border: 1px solid #000000;
       text-align: center;
     }

     #mydiv2 {
       position: absolute;
       width: 300px;
       height: 300px;
       left: 550px;
       top: 300px;
       z-index: 11;
       border: 1px solid #000000;
       text-align: center;
     }

     #mydivheader {
       padding: 10px;
       cursor: move;
       z-index: 10;
       background-color: #2196F3;
       color: #fff;
     }


  .element {
      padding: 10px;
      position: relative;
      justify-content: center;
  }

.portfolio{
  padding: 60px 25px;
}


  .inner-box {
    position: relative;
  }

  .inner-box .image {
    position: relative;
    overflow: hidden;
  }

  .inner-box .image img {
    position: relative;
    width: 100%;
    display: block;
    transition: all 0.3s;
  }

  .inner-box .image .overlay-box {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    opacity: 1;
    display: block;
    transition: all .6s ease;
    overflow: hidden;
  }

  .inner-box .image .overlay-box:before {
    position: absolute;
    content: '';
    left: -450px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
    transition: all 0.4s;
    background-color: #002fa7;
    opacity: .5;
  }


  .inner-box:hover .image .overlay-box:before {
    opacity: .6;
    left: 0px;
  }

  .inner-box:hover .image .overlay-box {
    opacity: .6;
  }

  .inner-box:hover .image .overlay-box .overlay-content h5 {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .inner-box:hover .image .overlay-box .overlay-content p {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  .inner-box .image .overlay-box .overlay-inner {
    position: absolute;
    left: 0px;
    bottom: 30px;
    z-index: 1;
    padding: 10px 40px;
  }

  .inner-box .image .overlay-box .overlay-inner .overlay-content i {
    font-size: 28px;
  }

  .inner-box .image h3 {
    color: #fff;
  }

  .overlay-content h5 {
    background: rgba(255, 255, 255, 0.9);
    padding: 0px 8px;
    margin-bottom: 0px;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    transition: all 0.3s;
  }

  .overlay-content p {
    font-size: 14px;
    margin-bottom: 0px;
    padding: 0px 8px;
    margin-top: 2px;
    text-transform: capitalize;
    background: rgba(255, 255, 255, 0.9);
    color: #002fa7;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    transition: all 0.5s;
  }


  .btn {
    padding: 18px 15px;
    border: 2px solid transparent;
    border-radius: 0px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    box-shadow: #999999 0px 0px 0px 0px;
  }

  .btn:focus {
    outline: 0px;
    border: 0px;
    box-shadow: none;
  }

  .btn-main {
    background: #ffffff;
    color: #000000;
  }

  .btn-main:hover {
    color: #fff !important;
    background: #000;
  }

  .btn-black {
    background: #000;
    color: #fff;
  }

  .btn-black:hover {
    background: #002fa7;
    color: #fff;





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
